{% extends "informer/index.html" %}
{% load static %}

{% block main_content %}
  <div class="instant-message-list-page container h-100 d-flex flex-column align-items-center p-4">
    <h2 class="title mb-4">
      Немедленные сообщения
    </h2>

    <div class="w-100 d-flex justify-content-between mb-3">
      <a class="btn btn-secondary" href="{% url 'home' %}">Назад</a>
      <a class="btn btn-primary" href="{% url 'instant-message-create' %}">Создать</a>
    </div>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Дата</th>
        <th scope="col">Сообщение</th>
      </tr>
      </thead>
      <tbody>
      {% for instant_message in instant_messages %}
        <tr>
          <th scope="row">{{ instant_message.id }}</th>
          <td>{{ instant_message.date }}</td>
          <td><a href="">Посмотреть</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}