{% extends "informer/index.html" %}
{% load static %}

{% block main_content %}
  <div class="home-page container h-100 d-flex flex-column align-items-center p-4">
    <h2 class="title">
      <span class="font-weight-normal">Проект:</span> {{ project.title }}
    </h2>

    <h4 class="w-100 text-left mb-3">Сообщения:</h4>

    <div class="messages w-100 d-flex align-items-start flex-wrap">
      <div class="card message-card mb-3 mr-3" style="max-width: 460px;">
        <div class="row no-gutters">
          <div class="col-md-5">
            {% if project.welcome_message.message.media %}
              <img src="{% static project.welcome_message.message.media %}" class="card-img" alt="">
            {% else %}
              <img src="{% static 'informer/images/no-image.png' %}" class="card-img" alt="">
            {% endif %}
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">Сообщение приветствие</h5>
              <p class="card-text">{{ project.welcome_message.message.text }}</p>
              <p class="card-text">
                {% if project.welcome_message.message.url and 'http' in project.welcome_message.message.url %}
                  <a href="{{ project.welcome_message.message.url }}" class="btn btn-primary" target="_blank">Ссылка</a>
                {% elif project.welcome_message.message.url %}
                  <a href="https://{{ project.welcome_message.message.url }}" class="btn btn-primary" target="_blank">Ссылка</a>
                {% else %}
                  <a class="btn btn-secondary not-button">Ссылка</a>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
        <div class="row no-gutters">
          <a href="{% url 'message-edit' id=project.welcome_message.message.id %}?next=home"
             class="btn btn-secondary show-button m-0">Редактировать</a>
        </div>
      </div>

      <div class="card message-card mb-3 mr-3" style="max-width: 460px;">
        <div class="row no-gutters">
          <div class="col-md-5">
            {% if project.confirm_message.message.media %}
              <img src="{% static project.confirm_message.message.media %}" class="card-img" alt="">
            {% else %}
              <img src="{% static 'informer/images/no-image.png' %}" class="card-img" alt="">
            {% endif %}
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">Сообщение подтверждение</h5>
              <p class="card-text">{{ project.confirm_message.message.text }}</p>
              <p class="card-text">
                {% if project.confirm_message.message.url and 'http' in project.confirm_message.message.url %}
                  <a href="{{ project.confirm_message.message.url }}" class="btn btn-primary" target="_blank">Ссылка</a>
                {% elif project.confirm_message.message.url %}
                  <a href="https://{{ project.confirm_message.message.url }}" class="btn btn-primary" target="_blank">Ссылка</a>
                {% else %}
                  <a class="btn btn-secondary not-button">Ссылка</a>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
        <div class="row no-gutters">
          <a href="{% url 'message-edit' id=project.confirm_message.message.id %}?next=home"
             class="btn btn-secondary show-button m-0">Редактировать</a>
        </div>
      </div>
    </div>


    <h4 class="w-100 text-left mt-4 mb-3">Уроки:</h4>

    <div class="lessons w-100 d-flex align-items-start flex-wrap">
      <div class="card lesson-card mr-3 mb-3" style="min-width: 300px;max-width: 460px;">
        <div class="card-body">
          <h5 class="card-title">Запланированные уроки</h5>
          <p class="card-text">Количество: {{ project.lessons }}.</p>
        </div>
        <a href="{% url 'lesson-list' %}" class="btn btn-secondary show-button m-0">Посмотреть</a>
      </div>
      <div class="card lesson-card" style="min-width: 300px;max-width: 460px;">
        <div class="card-body">
          <h5 class="card-title">Ежедневные уроки</h5>
          <p class="card-text">Количество: {{ project.daily_lessons }}.</p>
        </div>
        <a href="{% url 'daily-lesson-list' %}" class="btn btn-secondary show-button m-0">Посмотреть</a>
      </div>
    </div>


    <h4 class="w-100 text-left mt-4 mb-3">Дополнительно:</h4>

    <div class="extra-info w-100 d-flex align-items-start flex-wrap mb-5">
      <div class="card instant-message-card mr-3 mb-3" style="min-width: 300px;max-width: 460px;">
        <div class="card-body">
          <h5 class="card-title">Немедленные сообщения</h5>
          <p class="card-text">Количество: {{ project.instant_messages }}.</p>
        </div>
        <a href="{% url 'instant-message-list' %}" class="btn btn-secondary show-button m-0">Посмотреть</a>
      </div>
      <div class="card client-card" style="min-width: 300px;max-width: 460px;">
        <div class="card-body">
          <h5 class="card-title">Клиенты</h5>
          <p class="card-text">Количество: {{ project.clients }}.</p>
        </div>
        <a href="{% url 'client-list' %}" class="btn btn-secondary show-button m-0">Посмотреть</a>
      </div>
    </div>
  </div>
{% endblock %}