/* !INFORMER INDEX */
.main-content {
    height: calc(100vh - 56px);
}

/* INFORMER INDEX! */

/* !AUTHORIZATION LOGIN */
.login-form {
    width: 80%;
    /*max-height: 400px;*/
    padding: 30px 40px;
    border: 1px solid #ececec;
}
/* AUTHORIZATION LOGIN! */

/* !PROJECTS HOME */
.home-page .title {
    margin-bottom: 2rem;
}

.messages .message-card {

}

.message-card {
    min-width: 256px;
}

.message-card .image {

}

.message-card .show-button {
    width: 100%;
}

/* PROJECTS HOME! */

/* !LESSONS CREATE */
.lesson-create-form {
    width: 80%;
    /*max-height: 400px;*/
    padding: 30px 40px;
    border: 1px solid #ececec;
}
/* LESSONS CREATE! */

/* !LESSONS EDIT */
.lesson-edit-form {
    width: 80%;
    /*max-height: 400px;*/
    padding: 30px 40px;
    border: 1px solid #ececec;
}
/* LESSONS EDIT! */

/* !DAILY LESSONS CREATE */
.daily-lesson-create-form {
    width: 80%;
    /*max-height: 400px;*/
    padding: 30px 40px;
    border: 1px solid #ececec;
}
/* DAILY LESSONS CREATE! */

/* !DAILY LESSONS EDIT */
.daily-lesson-edit-form {
    width: 80%;
    /*max-height: 400px;*/
    padding: 30px 40px;
    border: 1px solid #ececec;
}
/* DAILY LESSONS EDIT! */

/* !INSTANT MESSAGES CREATE */
.instant-message-create-form {
    width: 80%;
    /*max-height: 400px;*/
    padding: 30px 40px;
    border: 1px solid #ececec;
}
/* INSTANT MESSAGES CREATE! */


/* !GENERAL */
.not-button {
    pointer-events: none;
    cursor: default;
}
/* GENERAL! */